In [ ]:
from importlib import reload
reload(dm)

In [1]:
import scoringmodel.config.core as core

In [2]:
import scoringmodel.processing.data_manager as dm

In [3]:
filename = core.config.app_config.training_data_file

In [4]:
data = dm.load_dataset(filename)

In [5]:
from scoringmodel.pipeline import feature_pipeline

In [6]:
concated = feature_pipeline(data)

In [7]:
concated

,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,pay_5,...,pay_amt6,target,fullpay_l6m,revolve_l3m,revolve_l6m,revolve_l1m,nobill_l6m,default_l6m,default_l3m,default_l1m
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,1,2,0,0,0,2,2,2,1
2,120000,2,2,2,26,-1,2,0,0,0,...,2000,1,1,1,3,0,0,2,1,0
3,90000,2,2,2,34,0,0,0,0,0,...,5000,0,0,3,6,1,0,0,0,0
4,50000,2,2,1,37,0,0,0,0,0,...,1000,0,0,3,6,1,0,0,0,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,679,0,2,1,4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1,3,1,39,0,0,0,0,0,...,1000,0,0,3,6,1,0,0,0,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,0,0,4,0,2,0,0,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,3100,1,1,0,2,0,0,3,3,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,1804,1,2,1,3,0,0,1,1,1
30000,50000,1,2,1,46,0,0,0,0,0,...,1000,1,0,3,6,1,0,0,0,0